form {
  width: 90%;
  margin: 250px auto;
  display: flex;
  justify-content: center;
  animation: c;
  flex-direction: column;
  gap: 20px;
}
form input {
  padding: 10px;
  border: none;
  background: #eee;
  border-radius: 8px;
  width: 400px;
  margin: auto;
}
input:focus {
  outline: none;
}
form button {
  width: fit-content;
  padding: 9px;
  color: #777;
  border: none;
  margin: auto;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #bec2ce;
  cursor: pointer;
}
