.class-one h2{
    color:red ;
}
.class-one p{
    color:red ;
}
.class-two h2{
    color:#4444e9 ;
}
.class-two p{
    color:#4444e9 ;
}
.class-three h2{
    color:#3dd82f ;
}
.class-three p{
    color:#3dd82f ;
}
.class-four h2{
    color:#9c4c4c ;
}
.class-four p{
    color:#9c4c4c ;
}
