body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}
div{
    margin:10px;
    height: 100%;
    width: 100%;
    background-size: cover;
    animation: slider 14s linear infinite alternate;
}
@keyframes slider{
    0%{
        background-image: url(/imges/image-1.jpg);
    }
    25%{
        background-image: url(/imges/image-2.jpg);
    }
    50%{
        background-image: url(/imges/image-3.jpg);
    }
    75%{
        background-image: url(/imges/image-4.jpg);
    }
    100%{
        background-image: url(/imges/image-5.jpg);
    }
}